[ req ]
#default_bits		= 2048
#default_md		= sha256
#default_keyfile 	= privkey.pem
distinguished_name	= req_distinguished_name
attributes		= req_attributes

[ req_distinguished_name ]
countryName			= UK
countryName_min			= 2
countryName_max			= 2
stateOrProvinceName		= Penarth
localityName			= Penarth
0.organizationName		= Penarth
organizationalUnitName		= Penarth
commonName			= Common Name (eg, fully qualified host name)
commonName_max			= 64
emailAddress			= penarth@test.com
emailAddress_max		= 64

[ req_attributes ]
challengePassword		= A challenge password
challengePassword_min		= 4
challengePassword_max		= 20

[ v3_ca ]
basicConstraints        = critical, CA:TRUE
subjectKeyIdentifier    = hash
authorityKeyIdentifier  = keyid:always, issuer:always
keyUsage                = critical, cRLSign, digitalSignature, keyCertSign
